*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: transparent;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
}

/* canvas {
  background-color: #313131;
} */
